/*!
 * Crux CSS, v1.0.0 (http://startbootstrap.com/template-overviews/new-age)
 */

/* General Styles */
a, a:hover, a:active {
  text-decoration: none
}
.bg-grey-1 {
  background-color: #b3b3b3;
}
.bg-grey-2 {
  background-color: #e3e3e3;
}
.bg-grey-3 {
  background-color: #959595;
}
.bg-grey-4 {
  background-color: #a6a6a6;
}
.margin-t-30 {
  margin-top: 30px;
}
.margin-t-40 {
  margin-top: 40px;
}
.margin-t-130 {
  margin-top: 130px;
}
.margin-t-150 {
  margin-top: 150px;
}
.margin-b-30 {
  margin-bottom: 30px
}
.card-s {
  margin-bottom: 30px
}
.card-s:hover .card-img {
  opacity: .15;
}
.card-s:hover .card-description {
  opacity: 1;
}
.card-s .card-img {
  opacity: 1;
  transition: .5ms;
  border: 0;
  height: 100%;
  width: 100%;
}
.card-s .card-description {
  opacity: 0.0;
  position: absolute;
  top: 4em;
  right: 4em;
  bottom: 4em;
  left: 4em;
  height: calc(100% - 8em);
  width: calc(100% - 8em);
  color: #111111;
  font-size: 16px
}
.card-s .card-description a > h3,
.card-s .card-description a > i {
  color: #111111;
}
.card-s .card-description a i.small-link {
  vertical-align: top;
  font-size: 12px;
}
.card-s .card-description a:hover h3,
.card-s .card-description a:hover i {
  color: #444444;
}
.card-s .card-description p {

}
@media (max-width: 991px) {
  .card-s .card-description {
    top: 3em;
    right: 1em;
    bottom: 3em;
    left: 1em;
    height: calc(100% - 3em);
    width: auto;
    font-size: 12px;
  }
  .card-s .card-description h3 {
    font-size: 20px;
  }
  .card-s .card-description p {

  }
}
@media (max-width: 767px) {
  .card-s .card-description {
    top: 5em;
    right: 4em;
    bottom: 5em;
    left: 4em;
    height: calc(100% - 10em);
    width: auto;
    font-size: 19px;
  }
  .card-s .card-description h3 {
    font-size: 30px;
  }
}
@media (max-width: 614px) {
  .card-s .card-description {
    top: 5em;
    right: 3em;
    bottom: 5em;
    left: 3em;
    height: calc(100% - 10em);
    font-size: 18px;
  }
  .card-s .card-description h3 {
    font-size: 28px;
  }
}
@media (max-width: 570px) {
  .card-s .card-description {
    top: 4em;
    right: 3em;
    bottom: 4em;
    left: 3em;
    height: calc(100% - 6em);
    font-size: 16px;
  }
  .card-s .card-description h3 {
    font-size: 26px;
  }
}
@media (max-width: 465px) {
  .card-s .card-description {
    right: 1em;
    left: 1em;
    height: calc(100% - 2em);
    font-size: 14px;
  }
  .card-s .card-description h3 {
    font-size: 22px;
  }
}
@media (max-width: 465px) {
  .card-s .card-description {
    font-size: 13px;
  }
  .card-s .card-description h3 {
    font-size: 18px;
  }
}
/* Specific Styles */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #3bb0c9; /* #fdcc52; */
}
a:hover,
a:focus {
  color: #3bb0c9; /* #fdcc52; */
  text-decoration: none;
}
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  /* color: #fdcc52; */
  color: #000000; /* ssd changed */
  height: 75px;
  padding: 30px 15px 30px 30px;
  font-size: 23px;
}
.navbar-default .navbar-brand-desc {
  padding: 30px 0px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.9);
  float: left;
  line-height: 20px
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  /* color: #fcbd20; */
  color: #5e5e5e; /* ssd changed */
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 25px;
  color: #222222;
  padding: 24px 21px;
  line-height: 16px;
  margin-top: 0px;
  margin-right: 8px;
  margin-bottom: 0;
  border-color: #fff;
}
.navbar-default .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #3bb0c9; /* #fdcc52; */
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #3bb0c9 !important; /* #fdcc52; */
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .navbar-default {
    /* background-color: transparent; */
    background-color: #496782;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: #ffffff;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default.affix {
    background-color: white;
    /* border-color: rgba(34, 34, 34, 0.1); */
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #222222;
  }
  .navbar-default.affix .navbar-brand-desc {
    color: #3e4042;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    /* color: #fdcc52; */
    color: #3bb0c9; /* ssd changed 1/3/2017 */
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    /* color: #fdcc52; */
    color: #3bb0c9; /* ssd changed 1/3/2017 */
  }
}
/*header {*/
/* .crux-header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("../img/bg-pattern.png"), #1c2bb9;
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #1c2bb9, #636171);
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #1c2bb9, #636171);
  color: white;
} */
/*header .header-content {*/
/* .crux-header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
} */
/*header .header-content .header-content-inner {*/
/* .crux-header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
} */
/*header .header-content .header-content-inner h1 {*/
/* .crux-header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
} */
/*header .header-content .header-content-inner .list-badges {*/
/* .crux-header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
} */
/*header .header-content .header-content-inner .list-badges img {*/
/* .crux-header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
} */
/*header .device-container {*/
/* .crux-header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
} */
/*header .device-container .screen img {*/
/* .crux-header .device-container .screen img {
  border-radius: 3px;
} */
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner h1 {
    font-size: 35px;
  }
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}
@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
}
/* section {
  padding: 100px 0;
} */
/* section h2 {
  font-size: 50px;
} */
section.about {
  padding: 150px 0;
  position: relative;
}
section.about h2 {
  margin-top: 0;
  font-size: 50px;
}
section.about .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}
section.about .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.about .badges .badge-link img {
  height: 60px;
}
@media (min-width: 768px) {
  section.about .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  section.about h2 {
    font-size: 56px; /* 70px; */
  }
}
@media (max-width : 480px) {
  section.about h2 {
    font-size: 25px; /* 70px; */
  }
}
@media (max-width : 320px) {/* added */
  section.about h2 {
    font-size: 38px;
  }
}
section.projects .section-heading {
  margin-bottom: 50px; /* ssd 100px; */
}
section.projects .section-heading h2 {
  margin-top: 0;
}
@media (max-width : 480px) {
  section.projects h2 {
    font-size: 25px; /* 70px; */
  }
}
@media (max-width : 320px) {/* added */
  section.projects h2 {
    font-size: 20px;
  }
}
section.projects .section-heading p {
  margin-bottom: 0;
}
section.projects .device-container {
  max-width: 300px;
  margin: 0 auto;
}
section.projects .device-container {
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  section.projects .device-container {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  section.projects .device-container {
    max-width: none;
  }
}
section.contact {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
section.contact .list-contact {
  font-size: 50px;
}
section.contact .list-contact a {
  color: #496782
}
footer {
  background-color: #496782;
  padding: 25px 0;
  color: #ffffff;
  text-align: center;
}
footer p {
  font-size: 20px;
  margin: 0;
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}
footer .totop i {
  cursor: pointer;
  color: #ffffff;
}
body {
  webkit-tap-highlight-color: #222222;
}
form .lsb {
    color: black;
    font-weight: bold;
}
